.logo-register-page{

font-size: 30px;
padding-top: 45%;
padding-bottom: 10%;

img{
    padding-bottom: 5%;  
}

.dots{
    text-align:center;
    margin-top:10px;
    .step{
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
        &.active{
            opacity: 1;
        }
        &.finish{
          //  opacity: 1;
            background-color: rgb(219, 101, 46);
        }
    }

}
}

.pull-left{
    h6{
        p{
            a{
                text-decoration: underline;
                font-size: medium;
            }
        }
    }
}

.link{
    font-size: 15px;
    width : 100%;
    background-color: ;
    text-decoration: underline;
}
.step-title{
 font-size: 18px !important;
 font-weight: bold;
 text-align: left !important;
 text-decoration: underline;
}