.logo-register-page{

font-size: 20px;
padding: 10%;


}

.pull-left{
    h6{
        p{
            a{
                text-decoration: underline;
                font-size: medium;
            }
        }
    }
}