<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/bg/bg1.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-register-page ">

                          <!--   <img src="assets/logo/11.png" alt="" width = "70" > -->
                            <h6>Become a shopper</h6>
                            <div class="dots" >
                                <span class={{step ==0 ? "step active" : "step" }}*ngFor="let step of steps" id={{step}} (click)="onChangeStep(step)" ></span>
                              </div>
                        </div>
                   
                    </div>
                    <div class="step-title" *ngIf="step ===0">
                       <p>Login info:</p>
                    </div>
                    <div class="step-title" *ngIf="step ===1">
                        <p>Personal info</p>
                     </div>
                     <div class="step-title" *ngIf="step ===2">
                        <p>bank info</p>
                     </div>
                     <br>
                    <div class="content" *ngIf="step ===0">
                   <app-login-info></app-login-info>
                    </div>
                    <div class="content" *ngIf="step ===1">
                        <app-personal-info></app-personal-info>
                         </div>
                         <div class="content" *ngIf="step ===2">
                            <app-bank-info></app-bank-info>
                             </div>
                    <div class="footer text-center">
                        <p  class="btn btn-primary btn-round btn-lg btn-block" (click)="onChangeStep()">{{step < 2 ? "Next" : "Submit"}} </p>
                    </div>
                    <div class="pull-left">
                        <h6>
                          <p>Already have an account?  <a href="/login" class="link" > Login</a> </p>
                        </h6>
                    </div>
             
                </form>
            </div>
        </div>
    </div>

</div>
