<div class=" page-header " filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/bg/fast-delivery.jpg)"></div>
    <div class="divider"></div>
    <div class="container scrollable-bg ">
        <div class="col-md-12 content-center ">
            <div class="card card-login card-plain">
                <form class="form" #registerForm="ngForm">
                    <div class="header header-primary text-center">
                        <div class="logo-register-page ">

                            <img src="{{logoPath}}" alt="" width="70">
                            <h6>Become a Partner</h6>

                        </div>
                    </div>

                    <span class="small">* Required</span>
                    <div class="content">
                        <br>
                        <form [formGroup]="registerFormData">
                            <span class="float-left  label">Comany name * </span>
                            <div class="input-group form-group-no-border  input-lg"
                                [ngClass]="{'input-group-focus':focus===true, 'bg-error':(f.name.touched && f.name.invalid)} ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons shopping_shop "
                                            [ngClass]="{'icon-error':f.name.touched && f.name.invalid}"></i>
                                    </span>
                                </div>
                                <input id="name" formControlName="name" name="name" type="text" class="form-control "
                                    placeholder="Company Name" (focus)="focus=true" (blur)="focus=false">
                            </div>
                            <div class="text-danger" *ngIf="f.name.touched && f.name.invalid">
                                Name should not be empty

                            </div>
                            <div><span class="float-left  label">E-mail *</span></div>

                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.email.touched && f.email.invalid}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85"
                                            [ngClass]="{'icon-error':f.email.touched && f.email.invalid}"></i>
                                    </span>
                                </div>
                                <input formControlName="email" type="email" class="form-control" placeholder="E-mail"
                                    (focus)="focus=true" (blur)="focus=false">

                            </div>
                            <div class="text-danger" *ngIf=" f.email.touched &&  f.email.errors?.required">
                                Email should not be empty
                            </div>
                            <div class="text-danger" *ngIf=" f.email.touched &&  f.email.errors?.email">
                                Invalid Email Format : xxxx@xxxxx.xxx
                            </div>
                            <span class="float-left  label">Website </span>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.website.touched && f.website.invalid}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons objects_globe"
                                            [ngClass]="{'icon-error':f.website.touched && f.website.invalid}"></i>
                                    </span>
                                </div>
                                <input id="website" formControlName="website" name="website" type="url"
                                    class="form-control" placeholder="Website" (focus)="focus=true"
                                    (blur)="focus=false">
                            </div>
                            <div class="text-danger" *ngIf="f.website?.touched && f.website.invalid">
                                Your Website sould be in this format : https:\\www.domaine-name.xx
                            </div>

                            <span class="float-left  label ">Official paper * </span>
                            <div class="input-group form-group-no-border input-lg"
                                [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.file.touched && f.file.invalid}">

                                <div class="input-group-prepend">

                                    <span class="input-group-text">
                                        <i class="now-ui-icons files_paper"
                                            [ngClass]="{'icon-error':f.file.touched && f.file.invalid}"></i>

                                    </span>
                                </div>




                                <div class="file-upload form-control">
                                    <input id="file" formControlName="file" name="file"
                                        class="form-control input-file bg-transparent" type="file" id="formFile"
                                        (change)="onFileSelect($event)" #fileUpload>
                                    {{filename || "No file yet."}}

                                    <button mat-mini-fab color="primary" class=" btn btn-round upload-btn"
                                        (click)="fileUpload.click()">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </button>
                                </div>



                            </div>
                            <div class="text-danger " *ngIf="f.file.touched && f.file.invalid">
                                You should import a file
                            </div>
                            <div>
                                <span class="small-message text-secondary"> <i class="now-ui-icons travel_info"> </i>
                                    Official prove that you are a company,
                                    store ...
                                </span>
                            </div>
                          
                            <button type="submit" 
                            [disabled]="!(f.status.toString() === 'VALID')"
                            class="btn btn-primary btn-round btn-lg btn-block" (click)="onSubmit()"> Submit your
                                request</button>
                        </form>

                        <br>
                    </div>

                    <div class="footer text-center">


                        <p>
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                know more
                            </button>

                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class=" small-message">
                                By submitting this form you are sending a request to the admin to become one of the
                                official
                                partner of DelSOS.
                                <br> You will receive a response via mail
                            </div>
                        </div>



                    </div>
                    <div class="pull-left">
                        <h6>
                            <p>
                                Already have an account?
                                <a [routerLink]="['/sign-in']" class=""> Login</a>
                            </p>
                        </h6>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <app-foo-ter></app-foo-ter>
</div>

<app-loading *ngIf="loading"></app-loading>