<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg5.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/img/placeholder.png" alt="">
          <i class="fa fa-edit" *ngIf="editable"></i>
        </div>
        <h3 class="title" *ngIf="!editable">{{user.name}}</h3>
        <h2 class="title" *ngIf="editable">Update Profile</h2>
        <div class="content">
          <div class="social-description" *ngIf="!editable">
            <h2>{{user.range}}5 Km</h2>
            <p>Range</p>
          </div>
          <div class="social-description" *ngIf="!editable">
            <h2>26</h2>
            <p>Shippments</p>
          </div>
          <div class="social-description" *ngIf="!editable">
            <h2>48</h2>
            <p>Reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" *ngIf="!editable">
    <div class="container">
      <div class="button-container">
        <ngbd-modal-component [buttonText]="'My Reviews'" [title]="'Rate 4.5/5'" [body]="'body'"></ngbd-modal-component>
        <a class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Edit your profile" (click)="edit()">
          <i class="fab fas fa-edit    "></i>
        </a>
        <!--  <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
          title="Follow me on Instagram">
          <i class="fab fa-instagram"></i>
        </a>-->
      </div>
      <h3 class="title">About me</h3>
      <div class=" row about">
        <div class="col-md-2"></div>
        <div class="col-3"><i class="fa fa-user-circle " aria-hidden="true"></i> {{user.age}} years old</div>
        <div class="col-3"><i class="fas fa-location-arrow"></i>{{user.address}} </div>
        <div class="col-3"> <i class="fa fa-phone" aria-hidden="true"></i> {{user.phoneNumber}}</div>
      </div>
      <!--<h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based
        Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid
        groove structure. An artist of considerable range.</h5>-->
      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">My Deliveries' List</h4>
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-12">
                  <app-delivery-card-shopper *ngFor="let delivery of deliveries" [delivery]="delivery">
                  </app-delivery-card-shopper>

                </div>

              </div>
            </div>


          </div>
          <div class="pagination-row" *ngIf="collectionSize >= pageSize">
            <div class="">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
            </div>
          </div>

          -
        </div>
      </div>
    </div>
  </div>
  <div class="section" *ngIf="editable">
    <div class="container">
      <div class="button-container">



        <!--  <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
          title="Follow me on Instagram">
          <i class="fab fa-instagram"></i>
        </a>-->
      </div>


      <h1>.</h1>
      <h4>Login Details</h4>
      <div class="row">
 
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>Username</label>
            <input type="text" value="{{user.username}}" placeholder="Regular" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>E-mail</label>
            <input type="email" value="{{user.email}}" placeholder="Regular" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group password">
            <app-update-password-model ></app-update-password-model>


          </div>
        </div>


        <!-- <div class="col-sm-6 col-lg-3">
          <div class="form-group has-success"><input type="text" value="Success"
              class="form-control form-control-success"></div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group has-danger"><input type="email" value="Error Input"
              class="form-control form-control-danger"></div>
        </div>

      </div>-->
      </div>
      <hr>
      <h4>Personal Details</h4>
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>Name</label>
            <input type="text" value="{{user.name}}" placeholder="Regular" class="form-control">
          </div>

          <div class="form-group">
            <label>Birthdate</label>
            <input type="date" value="{{user.birthdate | date:'yyyy-MM-dd'}} " placeholder="Regular" class="form-control">
          </div>
        
        </div>
        <div class="col-sm-6 col-lg-3">
    
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text"  value="{{user.phoneNumber}}" placeholder="Regular" class="form-control">
          </div>
          <div class="form-group">
            <label>Range</label>
            <input type="text" value="{{user.range}}" placeholder="Regular" class="form-control">
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>CIN Number</label>
            <input type="number"  value="{{user.cinNumber}}" placeholder="Regular" class="form-control">
          </div>
          <div class="form-group">
            <label>CIN Card</label>
       
            <input type="file" value="" placeholder="Regular" class="form-control">
          </div>
          </div>
          <div class="col-sm-6 col-lg-3">
       
            <img src={{cin}} class="cin-preview" with="500" height="200" *ngIf="user.cin">
           
          </div>
   
      </div>



      <hr>
      <h4>Bank details</h4>
      <div class="row">

        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>Card Owner Name</label>
            <input type="text" value="{{user.bankDetails.owner}}" placeholder="Regular" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>Card Number</label>
            <input type="number" value="{{user.bankDetails.cardNumber}}" placeholder="Regular" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label>Card expiration Date</label>
            <input type="date" value="{{user.bankDetails.expirationDate | date:'yyyy-MM-dd'}}" placeholder="Regular" class="form-control">
          </div>
       
        </div>
      </div>

      <div class="forms-buttons"><button class="btn btn-round btn-primary" (click)="update()">Update</button>
        <button class="btn btn-round btn-secondary" (click)="back()">cancel</button></div>
    </div>



  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              DelSOS
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>

        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">DelSOS TEAM</a>.
      </div>
    </div>
  </footer>
</div>