<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg5.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/img/placeholder.png" alt="">
          <i class="fa fa-edit"></i>
        </div>
        <h3 class="title">{{user.name}} Name</h3>



        <div class="content">
          <div class="social-description">
            <h2>{{user.range}}5 Km</h2>
            <p>Range</p>
          </div>
          <div class="social-description">
            <h2>26</h2>
            <p>Shippments</p>
          </div>
          <div class="social-description">
            <h2>48</h2>
            <p>Reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <ngbd-modal-component></ngbd-modal-component>

        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
          <i class="fab fas fa-edit    "></i>
        </a>
        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
          title="Follow me on Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <h3 class="title">About me</h3>
      <div class=" row about">
        <div class="col-md-2"></div>
        <div class="col-3"><i class="fa fa-user-circle " aria-hidden="true"></i> {{user.age}} years old</div>
        <div class="col-3"><i class="fas fa-location-arrow"></i>{{user.address}} Tunis,Tunisia</div>
        <div class="col-3"> <i class="fa fa-phone" aria-hidden="true"></i> {{user.phoneNumber}}(+216) 23 654 896</div>
      </div>
      <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based
        Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid
        groove structure. An artist of considerable range.</h5>
      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">My Deliveries' List</h4>
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-12">

                  <div class="card card-nav-tabs text " *ngFor="let delivery of deliveries">
                    <div class="row card-row">

                      <div class="col-md-8">
                        <div class="card-body ">
                          <h4 class="row ">
                            <div class="col-md-4 blod date ">{{delivery.date}}</div>
                            <div class="col-md-8">
                              <div class="row">
                                <div class="col-md-5 smaller"><i class="fas fa-map-marker-alt"></i> Hay L khadhra</div>
                                <div class="col-md-2"><i class="fas fa-arrow-right "></i></div>
                                <div class="col-md-5 smaller"><i class="fas fa-map-marker-alt"></i> Mannouba  </div>
                              </div>
                            </div>
                       
                            
                          </h4>
                          <div class="row">
                            <span class="badge bg-default badge-pill  small">BREAKABLE</span>
                            <span class="badge bg-default badge-pill  small">Package</span>
                          </div>
                          <p class="row">{{delivery.desc}}</p>



                          <!--
                                                   <a href="javascript:;" class="btn btn-primary btn-tracking">Tracking</a>
                                                 <div class="row text-center">
                                             
                                                  <div class="col-md-4 text-center">
                                                    <div class="row blod text-center">Height</div>
                                                    <div class="row  text-center">25 cm</div>
                                                  </div>
                                                  <div class="col-md-4 text-center">
                                                    <div class="row blod text-center">Width</div>
                                                    <div class="row text-center">25 cm</div>
                                                  </div>
                                                  <div class="col-md-4 text-center">
                                                    <div class="row blod text-center">Weight</div>
                                                    <div class="row text-center">25 g</div>
                                                  </div>

                                                </div>-->

                        </div>
                      </div>

                      <div class="col-md-4 card-right-side bg-light text-center">

                        <div class="progress-circle-container">
                          <circle-progress [percent]="percent" [radius]="60" [outerStrokeWidth]="5"
                            [innerStrokeWidth]="3" [outerStrokeColor]="outerStrokeColor()" [innerStrokeColor]="'#e9ecef'"
                            [showTitle]="true" [backgroundPadding]="0"
                            [titleFontSize]="15"
                            [title]="formatSubtitle(percent)" [showSubtitle]="false" [showUnits]="false" >
                          </circle-progress>
                        </div>
                        <!-- <div class="bs-stepper">
                                                  <div class="bs-stepper-header" role="tablist">
                                             
                                              
                                                    <div class="step" data-target="#information-part">
                                                     
                                                        <span class="bs-stepper-circle"><i class="fas fa-map-marker-alt"></i></span>
                                                        <span class="bs-stepper-label">Destination</span>
                                
                                                    </div>
                                                  </div>
                                          
                                                </div>-->
                        <!---->
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>


          </div>
          <div class="pagination-row" *ngIf="collectionSize >= pageSize">
            <div class="">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                aria-label="Default pagination" class="pagination-primary"></ngb-pagination>
            </div>
          </div>

          -
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>