<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
    </div>

          <div class="card-container">
            <div class="card outer" *ngIf="store">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center">
                            <ngb-tab >
                              <ng-template ngbTabTitle>
                                <i class="now-ui-icons users_single-02" ></i> Profile
                              </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row info-tab">
                                        <div class="col-4 left-side-info">
                                            <div class="photo-container">
                                                <img src="assets/img/ryan.jpg" alt="">
                                            </div>
                                            <h3 class="title">{{store.username}}</h3>
                                            <p class="category">{{store.website}}</p>
                                            <p class="description">{{store.description}}</p>
                                        </div>
                                        <div class="col-8 right-side-info">
                                            <app-info-item [fieldname]="'Email'" [data]="store.email" [position]="1" ></app-info-item>
                                            <app-info-item [fieldname]="'Name'" [data]="store.name" [position]="2" ></app-info-item>
                                            <app-info-item [fieldname]="'Phone Number'" [data]="store.phoneNumber" [position]="3" ></app-info-item>
                                            <app-info-item [fieldname]="'Country - city - postal card'" [data]="subAddress" [position]="4" ></app-info-item>
                                            <app-info-item [fieldname]="'Address'" [data]="store.address.address" [position]="5" ></app-info-item>
                                            <app-info-item [fieldname]="'Status'" [data]="store.status" [position]="6" ></app-info-item>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="now-ui-icons shopping_cart-simple"></i> Deliveries
                              </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="deliveries-tab">
                                            <table class="table" *ngIf="deliveries.length != 0">
                                                <thead>
                                                <tr>
                                                    <th scope="col" colspan="1" style="width: 30%;">Description</th>
                                                    <th scope="col" colspan="1" style="width: 5%;">Priority</th>
                                                    <th scope="col" colspan="1" style="width: 25%;">Characteristic</th>
                                                    <th scope="col" colspan="3" style="width: 30%;">Delivery status</th>
                                                    <th scope="col" colspan="1" style="width: 10%;">Actions</th> 
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let delivery of shownDeliveries ; let i">
                                                        <td>
                                                            <div class="text-truncate" style="width: 24pc;">
                                                                {{delivery.description}}
                                                            </div>
                                                        </td>
                                                        <td>{{delivery.priority}}</td>
                                                        <td>
                                                            <div>
                                                                <span class="badge badge-primary" *ngFor="let item of delivery.type">{{item}}</span>
                                                            </div>
                                                        </td>
                                                        <td colspan="3" >
                                                            <div class="destination-wrapper" *ngIf="delivery.status == 1"><t [ngClass]="{'pending':delivery.status == 1}">Pending</t> to deliver from <strong>{{delivery.source}}</strong><i> to </i><strong>{{delivery.destination}}</strong></div>
                                                            <div class="destination-wrapper" *ngIf="delivery.status == 2"><t [ngClass]="{'on-the-way':delivery.status == 2}">On the way</t> from <strong>{{delivery.source}}</strong><i> to </i><strong>{{delivery.destination}}</strong></div>
                                                        </td>
                                                        <td>
                                                            <storeProfile-modal-component [delivery]="delivery" [type]="'TRACK'"></storeProfile-modal-component>
                                                            <br>
                                                            <storeProfile-modal-component [delivery]="delivery" [type]="'APPLICANT'" *ngIf="delivery.status == 1"></storeProfile-modal-component>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div *ngIf="deliveries.length == 0">
                                                You have no deliveries !! Lets start adding !
                                            </div>
                                        <ngb-pagination [collectionSize]="deliveries.length" [pageSize]="4" [(page)]="page" (pageChange)="changePage(False)" aria-label="Default pagination" class="pagination-primary pagination-store"></ngb-pagination>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab >
                                <ng-template ngbTabTitle>
                                  <i class="now-ui-icons shopping_tag-content" ></i> Add Delivery
                                </ng-template>
                                  <ng-template ngbTabContent>
                                    <div class="card-body">
                                        <form #createDeliveryForm="ngForm">
                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder="Delivery Description..."
                                                            #description="ngModel"
                                                            ngModel         
                                                            required   
                                                            name="description"
                                                        >
                                                        <div class="badge badge-danger" *ngIf="description.errors?.required && description.touched" >
                                                            description is required
                                                        </div>
                                                        <div class="badge badge-danger" *ngIf="description.errors?.minlength && description.touched" >
                                                            description must have at least 4 characters
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Source</label>
                                                        <input 
                                                            minlength="4"
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder="Source..."
                                                            #source="ngModel"
                                                            ngModel        
                                                            required       
                                                            name="source"
                                                        >
                                                        <div class="badge badge-danger" *ngIf="source.errors?.minlength && source.touched" >
                                                            Source must have at least 4 characters
                                                        </div>
                                                        <div class="badge badge-danger" *ngIf="source.errors?.required && source.touched" >
                                                            Source is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Destination</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder="Destination..."
                                                            #destination="ngModel"
                                                            ngModel   
                                                            required         
                                                            minlength="4"   
                                                            name="destination"
                                                        >
                                                        <div class="badge badge-danger" *ngIf="destination.errors?.minlength && destination.touched" >
                                                            Destination must have at least 4 characters
                                                        </div>
                                                        <div class="badge badge-danger" *ngIf="destination.errors?.required && destination.touched" >
                                                            destination is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Weight <strong> (kg) </strong></label>
                                                        <input 
                                                            min = "0.1"
                                                            type="number" 
                                                            class="form-control" 
                                                            placeholder="Weight..."
                                                            #weight="ngModel"
                                                            ngModel     
                                                            required          
                                                            name="weight"
                                                        >
                                                        <div class="badge badge-danger" *ngIf="weight.errors?.required && weight.touched" >
                                                            weight is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Height <strong> (m) </strong></label>
                                                        <input 
                                                            min = "0.1"
                                                            type="number" 
                                                            class="form-control" 
                                                            placeholder="Height..."
                                                            #height="ngModel"
                                                            ngModel      
                                                            required            
                                                            name="height"
                                                        >
                                                        <div class="badge badge-danger" *ngIf="height.errors?.required && height.touched" >
                                                            height is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Width    <strong> (m) </strong></label>
                                                        <input
                                                            min = "0.1"
                                                            type="number" 
                                                            class="form-control" 
                                                            placeholder="Width..."
                                                            #width="ngModel"
                                                            ngModel      
                                                            required         
                                                            name="width"
                                                        >
                                                        <div class="badge badge-danger" *ngIf="width.errors?.required && width.touched" >
                                                            width is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-7 pl-1">
                                                    <div class="form-group">
                                                        <label>Delivery Type</label>
                                                        <div class="choices-wrapper">
                                                            <div class="form-check form-check-radio" *ngFor="let item of DELIVERY_TYPE ; let i = index">
                                                                <label class="form-check-label">
                                                                    <input 
                                                                        class="form-check-input" 
                                                                        id="exampleRadios1"
                                                                        type="radio" 
                                                                        ngModel
                                                                        name="type_{{i}}" 
                                                                        value="{{DELIVERY_TYPE[i]}}"
                                                                    >
                                                                    <span class="form-check-sign">{{DELIVERY_TYPE[i]}}</span>
                                                                </label>
                                                            </div>
                                                        </div>
                       
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Priority</label>
                                                        <div class="priority-choice">
                                                            <div class="form-check form-check-radio" *ngFor="let item of PRIORITE ; let i = index">
                                                                <label class="form-check-label">
                                                                    <input 
                                                                        class="form-check-input" 
                                                                        id="exampleRadios1"
                                                                        type="radio" 
                                                                        ngModel
                                                                        name="priority" 
                                                                        value={{i+1}}
                                                                    > 
                                                                    <span class="form-check-sign">{{PRIORITE[i]}}</span>
                                                                    
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="delivery-button">
                                                <button
                                                [disabled]="createDeliveryForm.invalid "
                                                (click)="submitCreateDelivery(createDeliveryForm)"
                                                type="submit" 
                                                class="btn btn-primary">
                                                Add</button>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                  </ng-template>
                              </ngb-tab>
                              <ngb-tab >
                                <ng-template ngbTabTitle>
                                  <i class="now-ui-icons education_agenda-bookmark" ></i> Archive
                                </ng-template>
                                  <ng-template ngbTabContent>
                                    <div class="deliveries-tab">
                                        <table class="table" *ngIf="archive.length != 0">
                                            <thead>
                                            <tr>
                                                <th scope="col" colspan="1" style="width: 30%;">Description</th>
                                                <th scope="col" colspan="1" style="width: 5%;">Priority</th>
                                                <th scope="col" colspan="1" style="width: 25%;">Characteristic</th>
                                                <th scope="col" colspan="3" style="width: 30%;">Delivery status</th>
                                                <th scope="col" colspan="1" style="width: 10%;">Actions</th> 
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let delivery of archive ; let i">
                                                    <td>
                                                        <div class="text-truncate" style="width: 24pc;">
                                                            {{delivery.description}}
                                                        </div>
                                                    </td>
                                                    <td>{{delivery.priority}}</td>
                                                    <td>
                                                        <div>
                                                            <span class="badge badge-primary" *ngFor="let item of delivery.type">{{item}}</span>
                                                        </div>
                                                    </td>
                                                    <td colspan="3" >
                                                        <div class="destination-wrapper" *ngIf="delivery.status == 3"><t [ngClass]="{'success-deliver':delivery.status == 3}">Successfully</t> delivered from <strong>{{delivery.source}}</strong><i> to </i><strong>{{delivery.destination}}</strong></div>
                                                    </td>
                                                    <td>
                                                        <storeProfile-modal-component [delivery]="delivery" [type]="'TRACK'"></storeProfile-modal-component>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div *ngIf="archive.length == 0">
                                            You have no archived deliveries !!
                                        </div>
                                    <ngb-pagination [collectionSize]="archive.length" [pageSize]="4" [(page)]="archivepage" (pageChange)="changePage(True)" aria-label="Default pagination" class="pagination-primary pagination-store"></ngb-pagination>
                                </div>
                                  </ng-template>
                              </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                  <i class="now-ui-icons ui-1_lock-circle-open"></i> Change password
                                </ng-template>
                                  <ng-template ngbTabContent>
                                    <div class="card-body">
                                        <form #resetPasswordForm="ngForm">
                                            <div class="reset-password-wrapper">
                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Current password</label>
                                                            <input 
                                                                minlength="8"
                                                                type="password" 
                                                                class="form-control" 
                                                                placeholder="current password..."
                                                                [(ngModel)]="passwordData.currentPassword"             
                                                                name="currentPassword"
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>New password</label>
                                                            <input 
                                                                minlength="8"
                                                                type="password" 
                                                                class="form-control" 
                                                                placeholder="new password..."
                                                                [(ngModel)]="passwordData.newPassword"      
                                                                name="newPassword"
                                                            >
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="col-md-4 px-1">
                                                        <div class="form-group">
                                                            <label>Confirm password</label>
                                                            <input 
                                                                minlength="8"
                                                                type="password" 
                                                                class="form-control" 
                                                                placeholder="confirm new password..."
                                                                [(ngModel)]="passwordData.confirmPassword"       
                                                                name="confirmPassword"
                                                            >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button
                                                        [disabled]="resetPasswordForm.invalid && resetPasswordForm.value.newPassword == resetPasswordForm.value.confirmPassword"
                                                        (click)="sumbitResetPassword(resetPasswordForm)"
                                                        type="submit" 
                                                        class="btn btn-primary mt-2">
                                                        Submit</button>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="errors">
                                                    <p [ngClass]="{'error':passwordData.currentPassword.length < 8}"><i>* current password must be longer than or equal to 8 characters</i></p>
                                                    <p [ngClass]="{'error':passwordData.confirmPassword.length < 8}"><i>* confirm password must be longer than or equal to 8 characters</i></p>
                                                    <p [ngClass]="{'error':passwordData.newPassword.length < 8}"><i>* new password must be longer than or equal to 8 characters</i></p>
                                                    <p [ngClass]="{'error':passwordData.newPassword != passwordData.confirmPassword ||  passwordData.newPassword == ''}">* new password must be equal to confirm password </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                  </ng-template>
                              </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                  <i class="now-ui-icons ui-2_settings-90"></i> Update profile
                                </ng-template>
                                  <ng-template ngbTabContent>
                                    <div class="card-body">
                                        <form #updateForm="ngForm">
                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>Company Name</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.name}}
                                                            [(ngModel)]="store.name"               
                                                            name="name"
                                                        >
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.username}}
                                                            [(ngModel)]="store.username"       
                                                            name = "username"
                                                        >
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Email address</label>
                                                        <input 
                                                            type="email" 
                                                            disabled 
                                                            class="form-control" 
                                                            placeholder={{store.email}}
                                                            value= {{store.email}}
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label>Address</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.address.address}}
                                                            [(ngModel)]="store.address.address"       
                                                            name = "address"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.phoneNumber}}
                                                            [(ngModel)]="store.phoneNumber" 
                                                            name = "phoneNumber"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4 pr-1">
                                                    <div class="form-group">
                                                        <label>City</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.address.city}}
                                                            [(ngModel)]="store.address.city"       
                                                            name = "city"
                                                        >
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-1">
                                                    <div class="form-group">
                                                        <label>Country</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.address.country}}
                                                            [(ngModel)]="store.address.country"
                                                            
                                                            name = "country"
                                                        >
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-1">
                                                    <div class="form-group">
                                                        <label>Postal Code</label>
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            placeholder={{store.address.postalCode}}
                                                            [(ngModel)]="store.address.postalCode"                                                       
                                                            name = "postalCode"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label>About Me</label>
                                                        <textarea 
                                                            rows="3" 
                                                            cols="80" c
                                                            class="form-control" 
                                                            placeholder={{store.description}} 
                                                            [(ngModel)]="store.description"
                                                            name = "description"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 button-wrapper">
                                                    <button
                                                    [disabled]="updateForm.invalid "
                                                    (click)="sumbitUpdateForm(updateForm)"
                                                    type="submit" 
                                                    class="btn btn-primary mt-2">
                                                    Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                  </ng-template>
                              </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
          </div>
</div>
