<form
        (keyup)="checkFormValidity()"
        [formGroup]="registerForm">
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.name.touched && f.name.invalid}">
        <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="now-ui-icons users_circle-08" [ngClass]="{'icon-error':f.name.touched && f.name.invalid}"></i>
        </span>
        </div>
        <input
            id="fullName"
                formControlName="name"
                name="name"
                type="text"
                class="form-control"
                placeholder="Full name"
                (focus)="focus=true" (blur)="focus=false">
    </div>
    <div class="text-danger" *ngIf="f.name.touched && f.name.invalid">
        Name should not be empty
    </div>
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.address.touched && f.address.invalid}">
        <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="now-ui-icons location_pin" [ngClass]="{'icon-error':f.address.touched && f.address.invalid}"></i>
        </span>
        </div>
        <input
            id="address"
                formControlName="address"
                name="address"
                type="text"
                class="form-control"
                placeholder="Address"
                (focus)="focus=true" (blur)="focus=false">
    </div>
    <div class="text-danger" *ngIf="f.address?.touched && f.address?.invalid">
        Adress should have at least 6 characters
    </div>
    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.phoneNumber.touched && f.phoneNumber.invalid}">
        <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="now-ui-icons tech_mobile " [ngClass]="{'icon-error':f.phoneNumber.touched && f.phoneNumber.invalid}"></i>
        </span>
        </div>
        <input

                formControlName="phoneNumber"
                type="text"
                class="form-control"
                placeholder="Phone number"
                (focus)="focus=true" (blur)="focus=false">

    </div>
    <div class="text-danger" *ngIf="
     f.phoneNumber.touched&&(f.phoneNumber.errors?.required||f.phoneNumber.errors?.minlength)">
        Phone number must have at least 8 digits
    </div>
    <div class="text-danger" *ngIf=" f.phoneNumber.errors?.pattern">
        Phone must be a number
    </div>

    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.birthdate.touched && f.birthdate.invalid}">
        <div class="input-group-prepend">
        <span class="input-group-text">
            <i class="now-ui-icons business_badge" [ngClass]="{'icon-error':f.birthdate.touched && f.birthdate.invalid}"></i>
        </span>
        </div>
        <input
        #birthdate
        formControlName="birthdate"
        type="date" class="form-control"
        placeholder="Birthdate"
        (focus)="focus=true" (blur)="focus=false">


    </div>
    <div class="text-danger" *ngIf="f.birthdate.touched && f.birthdate.invalid">
        Date should not be empty
    </div>
    <br>
    <br>

</form>
